{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  {% block head-content %}
        <title>{{ system_name }} - {% block title %}Home{% endblock %}</title>
  {% endblock %}

    {% load static %}
  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
  <!-- Custom fonts for this template -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/grayscale.css' %}" rel="stylesheet">

  {% block css %}{% endblock %}

</head>

<body id="page-top">
{% block nav %}
    {% include 'nav.html' %}
{% endblock %}
  {% block container %}
  {% include 'main_container.html' %}
        <div id="react"></div>
  {% endblock %}
  {% block footer %}
  <!-- Footer -->
  <footer class="bg-black small text-center text-white-50">
  <div class="container">
      Copyright &copy; Your Website 2019
    </div>
  </footer>
  {% endblock %}
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
  <script src="{% static 'js/jquery.easing.min.js' %}"></script>
  <script src="{% static 'js/grayscale.min.js' %}"></script>
  {% render_bundle 'main' %}
</body>

</html>
